# A comment line
# URI should start with '/' and only contains isalpha(), '.' and '/'

server {
	host	127.0.0.1;
#	host	localhost;
	port	8000;

	server_name				example.com www.example.com;

	error_page				404				/404.html;
	error_page				405				/405.html; # NOT_ALLOWED

	client_max_body_size	50000000;

	location / {
		allow_methods GET POST DELETE;
		root /folder;
		upload /folder;
		autoindex on;
	}
	location /redirect {
		root /folder;
		redirect /list/file;
	}
	location /kapouet {
		root /tmp/www;
		allow_methods GET POST DELETE;
		upload /folder;
		autoindex on;
		index do;
	}
	location /php {
		root /www/html/php_file;
		cgi php /path;
		cgi py /path;
	}
}
