# A comment line
# URI should start with '/' and only contains isalpha(), '.' and '/'

server {
	host	127.0.0.1;
#	host	localhost;
	port	8000;

	server_name				example.com www.example.com;

	error_page				404				/404.html;

	client_max_body_size	500000;

	location / {
		allow_methods GET POST;
		root /this/that;
		upload /folder;
	}
	location /redirect {
		return 302 youtube.com;
	}
	location /kapouet {
		root /tmp/www;
		allow_methods GET POST;
		upload /folder;
	}
	location /list {
		autoindex on;
	}
	location /dir {
		index index.html index.htm;
	}
	location /php {
		root /www/html/php_file;
		cgi php;
		cgi py;
	}
}
