server {
	host	127.0.0.1;
	port	8000;

	server_name				example.com www.example.com;

	error_page				404				/404.html;

	client_max_body_size	5;

	location / {
		allow_methods GET POST DELETE;
		root /folder;
		upload /folder;
		index file.txt;
		autoindex on;
	}
	location /mywebsite {
		allow_methods GET POST DELETE;
		root /website1;
		upload /website1;
		index index.html;
		autoindex on;
	}
	location /myotherWebsite {
		allow_methods GET POST DELETE;
		root /website2;
		index index.html;
		upload /website2;
		autoindex on;
	}
	location /php {
		allow_methods GET DELETE;
		root /www;
		cgi php /Users/mmarzouk/Desktop/wb/php-cgi;
		cgi py /Users/mmarzouk/Desktop/wb/python-cgi;
	}
	location /redirect {
		allow_methods GET DELETE;
		root /www;
		redirect /testers;
	}
	location /testers {
		allow_methods GET DELETE;
		root /testers;
		autoindex on;
	}
}

server {
	host	0.0.0.0;
	port	443;

	location / {
		allow_methods GET POST;
		root /folder;
	}
}